@import url('./reset.css');

:root {
  --color-text: #FF3B14;
}

@font-face {
  font-family: 'huawen';
  src: url('../font/华文新魏.ttf')
}
@font-face {
  font-family: 'PingFang';
  src: url('../font/苹方黑体-准-简.ttf');
}
